@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-semibold';
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-extrabold';
  src: url("../fonts/raleway-extrabold.eot");
  src: url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-medium';
  src: url("../fonts/raleway-medium.eot");
  src: url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-regular';
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-light';
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff2") format("woff2"), url("../fonts/raleway-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.aside {
  background-color: #fbfaf8;
  padding: 85px 0 0 0;
  background-image: url(../img/browser_center_10768.jpg), url(../img/browser_left_10769.jpg), url(../img/browser_right_10770.jpg);
  background-repeat: no-repeat;
  background-position: center 61%, 32% 68%, 69% 68%;
  background-size: auto; }
  .aside .wrapper {
    width: 1230px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    text-align: center;
    box-sizing: border-box; }
  .aside footer {
    background-color: #f4f5f8;
    background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    padding: 48px 0 48px 0; }
    .aside footer .wrapper {
      display: flex;
      align-items: center;
      margin: 0 auto; }

.aside__title {
  font-family: "raleway-semibold";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  padding: 0;
  margin: 0 auto 30px auto; }

.aside__text {
  width: 757px;
  padding: 0;
  margin: 0 auto 522px auto;
  font-family: "montserratlight";
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c; }

.aside__footer-text {
  text-align: left; }
  .aside__footer-text .aside__footer-title {
    font-family: "raleway-regular";
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff; }
    .aside__footer-text .aside__footer-title span {
      font-family: "raleway-light";
      font-size: 28px;
      line-height: 1.2;
      font-weight: 300;
      color: #c7b299; }
  .aside__footer-text .aside__footer-description {
    margin: 0;
    padding: 0;
    font-family: "montserratlight";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855; }
  .aside__footer-text + a {
    margin: 0 0 0 auto; }

/*# sourceMappingURL=aside.css.map */
