@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-semibold';
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-extrabold';
  src: url("../fonts/raleway-extrabold.eot");
  src: url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-medium';
  src: url("../fonts/raleway-medium.eot");
  src: url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-regular';
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway-light';
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff2") format("woff2"), url("../fonts/raleway-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.projects {
  width: 1230px;
  margin: 0 auto;
  padding: 80px 30px 80px 30px;
  box-sizing: border-box; }
  .projects .projects__title {
    margin: 0 0 24px 0;
    padding: 0;
    width: inherit;
    box-sizing: border-box;
    text-align: center;
    font-family: "raleway-semibold";
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555; }
  .projects .projects__text {
    width: 757px;
    margin: 0 auto 40px auto;
    text-align: center;
    font-family: "montserratlight";
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c; }
  .projects a {
    margin: 0 auto;
    width: max-content; }

.projects-filter__list {
  list-style: none;
  display: flex;
  width: 757px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

.projects-filter__button {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  outline: none;
  background-color: #ffffff;
  padding: 10px 25px;
  margin: 0 0 40px 0;
  box-sizing: border-box;
  font-family: "montserratlight";
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c; }
  .projects-filter__button:hover {
    cursor: pointer;
    background-color: #c7b299;
    color: #ffffff;
    border: 1px solid #c7b299;
    box-sizing: border-box; }
  .projects-filter__button:active {
    background-color: #998675;
    color: #ffffff;
    border: none; }
  .projects-filter__button.filter-active {
    border: none;
    background-color: #998675;
    color: #ffffff;
    cursor: auto; }

.cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.projects__card {
  width: 370px;
  box-sizing: border-box;
  margin: 0 30px 30px 0;
  position: relative; }
  .projects__card:nth-child(3n) {
    margin: 0 0 30px 0; }
  .projects__card p {
    margin: 0;
    padding: 30px 0 30px 30px;
    background-color: #fbfaf8;
    position: relative; }
    .projects__card p:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 10px solid #fbfaf8;
      top: -10px;
      left: 19px; }
  .projects__card:hover p {
    background-color: #362f2d; }
    .projects__card:hover p:before {
      border-bottom: 10px solid #362f2d; }
  .projects__card:hover .card-title {
    color: #ffffff; }
  .projects__card:hover .card-text {
    color: #c7b299; }
  .projects__card:hover .projects__card--hover {
    display: block; }

.card__pic {
  display: block;
  width: 370px;
  height: 237px;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.card-title {
  font-family: "raleway-medium";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299; }

.card-text {
  font-family: "montserratlight";
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1; }

.projects__card--hover {
  display: none;
  position: absolute;
  width: 370px;
  height: 237px;
  background-color: rgba(17, 17, 17, 0.7);
  top: 0;
  left: 0; }
  .projects__card--hover .hover-button {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    width: 26px;
    height: 26px;
    box-sizing: border-box; }

.hover-link {
  background-image: url(../img/link-hover.svg);
  background-repeat: no-repeat;
  margin: 0 25px 0 0;
  position: absolute;
  top: 50%;
  left: 36%; }
  .hover-link:hover {
    cursor: pointer;
    transform: scale(1.2); }

.hover-lupa {
  background-image: url(../img/lupa-hover.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%; }
  .hover-lupa:hover {
    cursor: pointer;
    transform: scale(1.2); }

/*# sourceMappingURL=projects.css.map */
